include README.md
include LICENSE
include pyproject.toml
include requirements.txt
recursive-include src/bar_impact *.py
recursive-include src/bar_impact py.typed
recursive-include docs *.md *.rst
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
